@import "../../../resources/styles/vars.scss";

.buttonBase {
  width: 140px;
  height: 2.5rem;
  padding: $padding;
  border-radius: 0;
  border: 1px solid $background-color-900;
  background-color: $background-color-600;
  color: $text-color-700;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1),
    0px 4px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 10px 0px rgba(0, 0, 0, 0.1);

  &:hover {
    filter: brightness(0.8);
  }

  &:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  &:disabled {
    color: $background-color-900;
    cursor: default;
    box-shadow: none;

    &:hover {
      filter: none;
    }
  }

  &:focus {
    outline: 1px solid $primary-color-900;
  }
}

.iconButton {
  border-radius: 50%;
  display: flex;
  flex-direction: center;
  align-items: center;
  color: black;
  background-color: none !important;
}

.iconButton-small {
  width: 24px;
  height: 24px;

  > * {
    margin: $margin;
  }
}

.iconButton-medium {
  width: 32px;
  height: 32px;

  > * {
    margin: $margin;
  }
}

.iconButton-large {
  width: 48px;
  height: 48px;

  > * {
    margin: $margin;
  }
}
