@font-face {
    font-family: "FiraCodePropo";
    src: url('/fonts/fira_code/propo/FiraCodeNerdFontPropo-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "FiraCodePropo";
    src: url('/fonts/fira_code/propo/FiraCodeNerdFontPropo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "FiraCodePropo";
    src: url('/fonts/fira_code/propo/FiraCodeNerdFontPropo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "FiraCodePropo";
    src: url('/fonts/fira_code/propo/FiraCodeNerdFontPropo-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "FiraCodePropo";
    src: url('/fonts/fira_code/propo/FiraCodeNerdFontPropo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "FiraCodePropo";
    src: url('/fonts/fira_code/propo/FiraCodeNerdFontPropo-Retina.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
