@import "./vars.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $text-color-500;
  font-size: $font-size;
  background: linear-gradient(to bottom, transparent, $background-color-300)
    $background-color-500;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  color-scheme: dark;
}

.column {
  > button {
    width: 100%;
    border-bottom: 0;
    border-right: 0;
  }
}

.color-method-get {
  color: $method-color-get;
}

.color-method-post {
  color: $method-color-post;
}

.color-method-put {
  color: $method-color-put;
}

.color-method-delete {
  color: $method-color-delete;
}

.color-method-option {
  color: $method-color-option;
}

.color-method-head {
  color: $method-color-head;
}
