@import "/src/resources/styles/vars.scss";

.requestBodyViewContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.editorContainer {
    display: flex;
    flex-direction: row;
    padding: 6px;
    margin: 1rem 0;
    background-color: #404040;
    border-radius: 5px;

    font-family: $font-code-mono;
    font-size: 11px;
}

.codeLinesContainer {
    display: flex;
    flex-direction: column;
}

.codeTextArea {
    font-family: $font-code-mono;
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    color: #A0A050;
    font-weight: bold;
    background-color: inherit;
}

.divider {
    width: 1px;
    background-color: white;
    margin: 0 10px;
}

.bodyTypeDropdown {
    
}
